.messages {
	position: relative;
	background-color: #bacae3;
	.messages__myselfMessages {
		min-height: 3rem;
		height: max-content;
		width: 70%;
		padding: 1rem;

		margin: 1rem 0rem 1rem 28%;
		background-color: #86bb71;
		word-wrap: break-word;
		border-radius: 0.5rem;
		box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 3px 3px 3px rgba(0, 0, 0, 0.5),
			inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.5);
		user-select: all;
		&::after {
			position: absolute;
			height: 0;
			width: 0;
			bottom: 100%;
			margin-left: -10px;
			left: 94%;
			border: solid transparent;
			content: " ";
			pointer-events: none;
			border-bottom-color: #86bb71;
			border-width: 10px;
		}
	}

  .messages__interlocatorMessages {
    min-height: 3rem;
    height: max-content;
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    background-color: #ff5e5e;
    border-radius: 0.5rem;
    box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 3px 3px 3px rgba(0, 0, 0, 0.5),
      inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    user-select: all;
    &::after {
      position: absolute;
      height: 0;
      width: 0;
      bottom: 100%;
      left: 7%;
      border: solid transparent;
      content: " ";
      pointer-events: none;
      border-bottom-color: #ff5e5e;
      border-width: 10px;
      margin-left: -10px;
    }
  }
  
}

